.img_block img {
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Parallax image container */
.image {
    width: 100%;
    /* Устанавливаем ширину в 100% экрана */
    height: 800px;
    /* Высота по умолчанию для больших экранов */
}

/* Адаптация для мобильных устройств (меньше 768px ширины) */
@media (max-width: 768px) {
    .image {
        height: 220px;
        width: 100%;
        /* Уменьшаем высоту для мобильных */
        background-size: cover;
        /* Масштабируем изображение, чтобы оно полностью помещалось */
    }

    .content {
        padding: 10px;
        /* Добавляем небольшие отступы */
    }

    h4 {
        font-size: 18px;

    }

    p {
        font-size: 16px;

    }

    ul {
        font-size: 16px;

    }
}

.content1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 100%;
}

h3 {
    letter-spacing: 6px;
    text-transform: uppercase;
    font: 1.3rem;
    text-align: center;
}

.text-box {
    text-align: center;
    padding: 3rem 1rem;
    text-align: justify;
}


.companyLogo {
    width: 150px;
    /* Задайте ширину логотипа по вашему желанию */
    margin-left: 2px;
    /* Отступ слева для лучшего выравнивания */
    vertical-align: middle;
    /* Выравнивание логотипа по тексту */
}